// .header-page {
//   height: fit-content;
// //   width:fit-content ;
//   position: sticky;
//   opacity: 0.9;
//   top: 0;
//   z-index: 1;
//   padding: 1.5rem 0;

//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
    width: fit-content;
    gap: 2.5rem;
  }
}

.icon {
  display: flex;
  margin-left: 4rem;
  &__icons {
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    align-items: end;
    margin: 0 1rem;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;

  &__left {
    max-width: 70%;
    padding-left: 2rem;
    h1 {
      font-size: 4vw;
      color: #000;
    }
    p {
      margin: 2rem 0;
    }
    // a {
    //   display: flex;
    //   align-items: center;
    //   background-color: #000;
    //   width: 10rem;
    //   padding: 8px;
    //   border-radius: 6rem;
    // }
    span {
      color: #fff;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
  }
}

.flex-generic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
}

.explore {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;

  h2 {
    font-size: 4rem;
    font-weight: 600;
    color: #000;
  }
  span {
    font-size: 1.25rem;
    font-weight: 500;
  }
  a {
    margin-top: 2rem;
  }
}
