.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2.5rem;
}

.hero {
  display: flex;
  font-family: "Inter";

  height: fit-content;
  width: fit-content;
  margin-top: -8rem;
  &__h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
  }
}

.logos {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  height: 4rem;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    width: 4rem;
    height: 4rem;
  }
}
